{% extends 'base.html' %} 
{% block title %} Add A Comment {% endblock %}
{% block content %}

{% load static %}

<div class="container mt-5 p-5 text-center">
<br>
{% if user.is_authenticated %}
<h1>Add/Update Comment</h1>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'home.html' %}" class="btn btn-warning mx-5 my-4">Back</a>
    <button class="btn btn-success" type="submit">Add/Update Comment</button>
</form>
</div>
{% else %}
<h2>You need to register to leave a comment</h2><br>
<a class="btn btn-primary" href="{% url 'account_signup' %}">Register Here</a>
<a class="btn btn-warning mx-5" href="{% url 'home.html' %}">Return Home</a>
{% endif %}

<script>
    document
        .querySelectorAll(".navbar-collapse .nav-link")
        .forEach((link) => {
            link.addEventListener("click", function (e) {
                let section = document.querySelector(e.target.getAttribute("href"));
                if (section) {
                    e.preventDefault(); // Prevent default anchor click behavior
                    let navbarHeight = document.querySelector(".navbar-toggler").offsetHeight;
                    window.scroll({
                        top: section.offsetTop - navbarHeight, // Adjust for navbar height
                        behavior: "smooth",
                    });
                    document
                        .querySelector(".navbar-collapse")
                        .classList.remove("show"); // Collapse navbar
                }
            });
        });
  </script>

{% endblock %}