{% extends 'base.html' %} 
{% block title %} Emily's CBT Blogs {% endblock %}
{% block content %}

{% load static %}

<div class="p-5 mt-5 col-12 mt-3 left">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.pk %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                        <p class="card-text">{{ post.excerpt }}</p>
                    </a>
                    <p class="card-text text-muted h6">{{ post.created_on}}
                        <hr>
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                      <a class="btn btn-warning btn-sm" href="{% url 'update_post' post.pk %}">Edit</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'delete_post' post.pk %}">Delete</a>
                    {% endif %}
                        {% endif %}
                            {% if user.username == 'Ben' %}
                                <a class="btn btn-primary btn-sm" href="{% url 'add_comment' post.pk %}">Add A Comment</a>
                                <a class="btn btn-warning btn-sm mx-5" href="{% url 'update_comment' post.pk %}">Edit Comment</a>
                                <a class="btn btn-danger btn-sm mx-3" href="{% url 'delete_comment' post.pk %}">Delete Comment</a>
                            {% else %}
                                <a class="btn btn-primary" href="{% url 'add_comment' post.pk %}">Add A Comment</a>
                            {% endif %}
                        
                    </p>
                </div>
            </div>
        </div>
        
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>
</div>



<script>
    document
        .querySelectorAll(".navbar-collapse .nav-link")
        .forEach((link) => {
            link.addEventListener("click", function (e) {
                let section = document.querySelector(e.target.getAttribute("href"));
                if (section) {
                    e.preventDefault(); // Prevent default anchor click behavior
                    let navbarHeight = document.querySelector(".navbar-toggler").offsetHeight;
                    window.scroll({
                        top: section.offsetTop - navbarHeight, // Adjust for navbar height
                        behavior: "smooth",
                    });
                    document
                        .querySelector(".navbar-collapse")
                        .classList.remove("show"); // Collapse navbar
                }
            });
        });
  </script>

</html>

{% endblock content %}

