{% extends 'base.html' %} 
{% block title %} Delete a New Blog {% endblock %}
{% block content %}

{% load static %}

<div class="container mt-5 p-5 text-center">
<br>
{% if user.username == 'Ben' %}
<h1> Delete My Comment</h1>
<br>
<h3>Delete: {{ comment.body }}</h3>


<br>
<form method="POST">
    {% csrf_token %}
    <a href="{% url 'home.html' %}" class="btn btn-warning mx-5 my-4">Back</a>
    <button class="btn btn-danger">Delete My Comment</button>
</form>
</div>
{% else %}
<h2>Only the author of the comment has authority to delete a comment</h2><br>
<a class="btn btn-primary" href="{% url 'home.html' %}">Return Home</a>
{% endif %}


{% endblock %}