{% extends 'base.html' %} {% block content %}
{% load static %}

<!--
  {% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    endblock--> 

<!--Header section-->
<section class="header p-5 text-center text-md-start" id="hero">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between py-2">
        <div class="me-sm-2">
          <h6>Bath University Qualified CBT Therapist</h6>
          <h1>CBT Therapy Sessions For Bristolians Who Are Struggling <br> With 
             Thier Mental Health</h1>
          <h3 class="my-4 lead">Have a private conversation with one of our<br> trained mental health professionals.</h3>
          <div class="mb-4 container">
             <i class="fa-solid fa-check"></i> Free 30 Minute Assesment<br>
             <i class="fa-solid fa-check"></i> Assessments for Children & Adults<br>
             <i class="fa-solid fa-check"></i> All Sessions Held Online<br>
          </div>
          <a href="#" class="btn btn-warning btn-lg mt-4">Book a Free Assessment</a>
        </div>
        <img class="image-fluid w-50 d-none d-sm-block" src="https://plus.unsplash.com/premium_photo-1672292535264-ef6dab7d6a90?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHNlc3Npb258ZW58MHx8MHx8fDA%3D" alt="A person who looks happy that they chose to seek help">
      </div>
    </div>
  </section>

<!--The Process Section-->
  <section id="how-we-help" class="p-5">
    <div class="container">
      <div class="row text-center g-5">
        <div><h2 class=" mt-4 mb-2">The Process</h2></div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <img src="https://images.unsplash.com/photo-1592720501721-17622b759c0a?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG51bWJlciUyMG9uZXxlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="">
            <div class="card-body">
              <h3 class="card-title">Free Assesment</h3>
              <p class="card-text">30 minutes conversation to understand what you require and answer any questions you may have.</p>
            </div>
          </div> 
        </div>
  
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1568548527144-383edf5c2728?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fG51bWJlciUyMHR3b3xlbnwwfHwwfHx8MA%3D%3D" class="card-img-top" alt="#">
          <div class="card-body">
            <h3 class="card-title">Weekly Therapy Sessions</h3>
            <p class="card-text">Based on your requirements we would recommend either a 4/6 week treatments.</p>
          </div>
        </div> 
      </div>
  
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <img src="https://images.unsplash.com/photo-1621440318357-3e3c94221a1c?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fG51bWJlciUyMHRocmVlfGVufDB8fDB8fHww" class="card-img-top" alt="#">
          <div class="card-body">
            <h3 class="card-title">Prevention Plan</h3>
            <p class="card-text">After weekly sessions you will start tp feel better and you will get a prevention plan to keep you on your new path.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>



<!--Who Is Therapy For-->
<section id="issues" class="p-5">
    <div class="container">
        <h2 class="text-center mt-5 mb-5">Who Is Therapy For?</h2>
        <div class="row text-center g-5">
        <div class="col-md-6 text-column">
          <h3 class="mb-4">Adults:</h3>
  
          <p>From single assessments to ongoing therapy, our personalised care options are for anyone seeking mental health or neurodevelopmental support. </p>
          
          
          <a href="#"  class="btn btn-warning my-3">Get A Free Assesment</a>
        </div>
  
          <div class="col-md image-column my-5">
            <img src="https://images.unsplash.com/photo-1551836022-d5d88e9218df?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG1lZXRpbmd8ZW58MHx8MHx8fDA%3D" alt="A man looking like he has anxiety">
          </div>
        </div>
        <div class="row-2 row text-center g-5">
          <div class="col-md image-column my-5">
            <img src="https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8a2lkcyUyMHJlYWRpbmd8ZW58MHx8MHx8fDA%3D" alt="A women looking sad who has depression">
          </div>
          <div class="col-md-6 text-column text-md-center">
            <h3 class="my-4">Children:</h3>
            <p class="">Expert mental health, ADHD & autism support for children and teenagers.
        
          <a href="#" target="_blank" class="btn btn-warning mt-3">Get A Free Assesment</a>
          </div>
        </div>
      </div>
  </section>

  
  <!--About Section-->




<!--Pricing Section-->
<div class="panel pricing-table">

    <div class="pricing-plan">
        <img src="#" alt="" class="pricing-img">
        <h2 class="pricing-header">Inital Assesment</h2>
        <ul class="pricing-features">
            <li class="pricing-features-item">30 Minute Session</li>
            <li class="pricing-features-item">Online Via Teams</li>
        </ul>
        <span class="pricing-price">Free</span>
        <a href="#" class="pricing-button">Sign up</a>
    </div>

    <div class="pricing-plan">
        <img src="#" alt="" class="pricing-img">
        <h2 class="pricing-header">One Hour Session</h2>
        <ul class="pricing-features">
            <li class="pricing-features-item">Explore your thoughts & feelings</li>
            <li class="pricing-features-item">Provide Support and Actional steps</li>
        </ul>
        <span class="pricing-price">£120</span>
        <a href="#" class="pricing-button is-featured">Book Now</a>
    </div>

    <div class="pricing-plan">
        <img src="#" alt="" class="pricing-img">
        <h2 class="pricing-header">Block Bookings</h2>
        <ul class="pricing-features">
            <li class="pricing-features-item">Once/Twice a Week</li>
            <li class="pricing-features-item">4/6 Week Timeframe</li>
        </ul>
        <span class="pricing-price">£600</span>
        <a href="#" class="pricing-button">Book Now</a>
    </div>

</div>

{% endblock %}