{% extends 'base.html' %} {% block content %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

<!--Header section-->
<section class="header p-5 mt-4 text-center text-md-start" id="hero">
    <div class="container">
      <div class="d-flex align-items-center justify-content-between py-2">
        <div class="me-sm-2">
          <h6 class="">Bath University Qualified CBT Therapist</h6>
          <h1>CBT Therapy Sessions For <strong class="bristolians">Bristolians</strong> Who Are Struggling <br> With 
             Their Mental Health</h1>
          <h3 class="my-4 lead">Have a private conversation with one of our<br> trained mental health professionals.</h3>
          <div class="mb-4 container">
             <i class="fa-solid fa-check"></i> Free 30 Minute Assesment<br>
             <i class="fa-solid fa-check"></i> Assessments for Children & Adults<br>
             <i class="fa-solid fa-check"></i> All Sessions Held Online<br>
          </div>
          <a href="#booking" class="btn btn-warning btn-lg mt-4">Book a Free Assessment</a>
        </div>
        <img class="image-fluid w-50 d-none d-sm-block emm" src="https://plus.unsplash.com/premium_photo-1672292535264-ef6dab7d6a90?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fHNlc3Npb258ZW58MHx8MHx8fDA%3D" alt="A person who looks happy that they chose to seek help">
      </div>
    </div>
  </section>

<!--The Process Section-->
  <section id="process" class="p-5">
    <div class="container">
      <div class="row text-center g-5">
        <div><h2 class=" mt-4 mb-2">The Process</h2></div>
        <div class="col-sm-12 col-md-4 col-lg-4">
          <div class="card">
            <img src="https://cdn.pixabay.com/photo/2014/09/07/15/31/number-437919_1280.jpg" class="card-img-top" alt="">
            <div class="card-body">
              <h3 class="card-title">Free Assesment</h3>
              <p class="card-text">30 minutes conversation to understand what you require and answer any questions you may have.</p>
            </div>
          </div> 
        </div>
  
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2014/09/07/15/31/number-437918_1280.jpg" class="card-img-top" alt="#">
          <div class="card-body">
            <h3 class="card-title">Weekly Therapy Sessions</h3>
            <p class="card-text">Based on your requirements we would recommend either a 4/6 week treatments.</p>
          </div>
        </div> 
      </div>
  
      <div class="col-sm-12 col-md-4 col-lg-4">
        <div class="card">
          <img src="https://cdn.pixabay.com/photo/2014/09/07/15/33/number-437920_1280.jpg" class="card-img-top" alt="#">
          <div class="card-body">
            <h3 class="card-title">Prevention Plan</h3>
            <p class="card-text">Weekly sessions you will start to feel better and we will get a prevention plan to keep you track.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>



<!--Who Is Therapy For-->
<section id="who" class="p-5">
    <div class="container">
        <h2 class="text-center mt-5 mb-5">Who Is Therapy For?</h2>
        <div class="row text-center g-5">
        <div class="col-md-6 text-column">
          <h3 class="mb-5 mt-4">Adults:</h3>
  
          <p>From single assessments to ongoing therapy, our personalised care options are for anyone seeking mental health or neurodevelopmental support. </p>
          <p class="mt-3">You don’t have to do this on your own. Whether you’re tackling work stress, academic pressures, we’ve got a solution for you. </p>
          
          
          <a href="#booking"  class="btn btn-warning my-3">Get A Free Assesment</a>
        </div>
  
          <div class="col-md image-column my-5">
            <img src="https://images.unsplash.com/photo-1551836022-d5d88e9218df?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTR8fG1lZXRpbmd8ZW58MHx8MHx8fDA%3D" alt="A man looking like he has anxiety">
          </div>
        </div>
        <div class="row-2 row text-center g-5">
          <div class="col-md image-column my-5">
            <img src="https://images.unsplash.com/photo-1485546246426-74dc88dec4d9?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8a2lkcyUyMHJlYWRpbmd8ZW58MHx8MHx8fDA%3D" alt="A women looking sad who has depression">
          </div>
          <div class="col-md-6 text-column text-md-center">
            <h3 class="mb-5">Children:</h3>
            <p class="">Expert mental health, ADHD & autism support for children and teenagers.</p>
            <p class="mt-3"> A practical and goal-oriented therapy that teaches you how to develop effective coping mechanisms and manage your emotions in a healthy way.</p>
            <p>Everyone deserves to feel empowered and supported. That’s why I’m here to guide individuals through therapy, a safe and confidential space to explore concerns, develop coping mechanisms, and achieve your goals. </p>
            
        
          <a href="#booking" target="_blank" class="btn btn-warning mt-3">Get A Free Assesment</a>
          </div>
        </div>
      </div>
  </section>

  
  <!--About Section-->
  <section id="about" class="p-5">
    <div class="container">
      <h2 class="text-center mt-5 mb-5">About <strong class="bristolians">Emily</strong></h2>
      <div class="row text-center g-5">
      <div class="col-md-6 text-column">
        <br><br><br><br><br>

        <p>From your single assessments to ongoing therapy, our personalised care options are for anyone seeking mental health or neurodevelopmental support. </p>
        <p class="mt-3">You don’t have to do this on your own. Whether you’re tackling work stress, academic pressures, I’ve got a solution for you. </p>
        
        
        <a href="#booking"  class="btn btn-warning my-3">Get A Free Assesment</a>
      </div>
      <img class="image-fluid w-50 d-none d-sm-block emily" src="https://www.oxfordhealth.nhs.uk/wp-content/uploads/2021/03/Emily-Neale-2.jpg" alt="A person who looks happy that they chose to seek help">
    </div>
      </div>
  </section>

<!--Booking Section-->

<section class="container p-5" id="booking">
  <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/svcezdoo-students" style="min-width:320px;height:700px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
<!-- Calendly inline widget end -->

</section>

<!--Pricing Section-->
<section id="pricing" class="p-5">
<div class="panel pricing-table container">

    <div class="pricing-plan">
        <img src="#" alt="" class="pricing-img">
        <h2 class="pricing-header">Inital Assesment</h2>
        <ul class="pricing-features">
            <li class="pricing-features-item">30 Minute Session</li>
            <li class="pricing-features-item">Online Via Teams</li>
        </ul>
        <span class="pricing-price">Free</span>
        <a href="booking" class="pricing-button">Sign up</a>
    </div>

    <div class="pricing-plan">
        <img src="#" alt="" class="pricing-img">
        <h2 class="pricing-header">One Hour Session</h2>
        <ul class="pricing-features">
            <li class="pricing-features-item">Explore your thoughts & feelings</li>
            <li class="pricing-features-item">Continued Support</li>
        </ul>
        <span class="pricing-price">£120</span>
        <a href="#booking" class="pricing-button is-featured">Book Now</a>
    </div>

    <div class="pricing-plan">
        <img src="#" alt="" class="pricing-img">
        <h2 class="pricing-header">Block Bookings</h2>
        <ul class="pricing-features">
            <li class="pricing-features-item">Once/Twice a Week</li>
            <li class="pricing-features-item">4/6 Week Timeframe</li>
        </ul>
        <span class="pricing-price">£600</span>
        <a href="#booking" class="pricing-button">Book Now</a>
    </div>

</div>
</section>

{% endblock %}