{% extends 'base.html' %}

{% block title %}CBT Blog{% endblock %}

{% block content %}
{% load static %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <!-- Post title goes in these h1 tags -->
                <h1 class="post-title">{{ post.title }}</h1>
                <!-- Post author goes before the | the post's created date goes after -->
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
                        
                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                            <a class="btn btn-warning mx-4" href="{% url 'update_post' post.pk %}">Edit Blog</a>
                            <a class="btn btn-danger mx-4" href="{% url 'delete_post' post.pk %}">Delete Blog</a>
                        
                        {% else %}
                        {% if user.id != post.author.id %}
                        <a class="btn btn-primary" href="{% url 'update_post' post.pk %}">Add A Comment</a>
                        <a class="btn btn-warning" href="{% url 'update_post' post.pk %}">Edit Comment</a>
                        <a class="btn btn-danger" href="{% url 'delete_post' post.pk %}">Delete Comment</a>
                    {% endif %}
                        {% endif %}
                </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src="https://plus.unsplash.com/premium_photo-1664378802354-7ec2fece08c2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Y2J0fGVufDB8fDB8fHww" class="scale" alt="placeholder">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-2  mt-3 left  top">
            <div class="card-body">
                <!-- The post content goes inside the card-text. -->
                <!-- Use the | safe filter inside the template tags -->
                <p class="card-text">
                    {{ post.content | safe }}
                </p>
                <!--<p>{{ comments.body| safe }}</p><!-->
            </div>
        </div>
        
    </div>
    <a href="{% url 'blog.html' %}" class="btn btn-warning">Back</a><a href="{% url 'blog.html' %}" class="btn btn-primary mx-5">Book a Free Assesment</a>
</div>

{% endif %}
{% endblock %}