{% extends 'base.html' %} 
{% block title %}Edit A Comment{% endblock %}
{% block content %}

{% load static %}

<div class="container text-center">
<br>
{% if user.is_authenticated %}
<h1>Edit A Comment</h1>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'home.html'%}" class="btn btn-warning mx-5 my-4">Back</a>
    <button class="btn btn-success">Update Blog Post</button>
</form>
</div>
{% else %}
<h2>Only the comment author has authority to update a comment</h2><br>
<a class="btn btn-primary" href="{% url 'home.html' %}">Return Home</a>
{% endif %}


{% endblock %}