{% extends 'base.html' %} 
{% block title %}Edit A Blog{% endblock %}
{% block content %}

{% load static %}

<div class="container text-center">
<br>
<h1>Edit A Post</h1>
<br>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <a href="{% url 'post_detail' post.pk %}" class="btn btn-warning mx-5 my-4">Back</a>
    <button class="btn btn-success">Update Blog Post</button>
</form>
</div>
{% else %}
<h2>Only Emily has authority to update a blog</h2><br>
<a class="btn btn-primary" href="{% url 'home.html' %}">Return Home</a>
{% endif %}


{% endblock %}